.page-en,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}


body { overflow-x: hidden; margin: 0; padding: 0; background: #020202; }
.page-en * {
  box-sizing: border-box;
}
.page-en {
  background: var(--allback, #151515);
  border-style: solid;
  border-color: var(--black, #020202);
  border-width: 1px;
  width: 100vw;
  margin: 0 auto;
  height: 156.1979vw;
  position: relative;
  overflow: hidden;
}
.footer {
  position: absolute;
  inset: 0;
}
.back-tiny {
  width: 100.0000vw;
  height: 35.0000vw;
  position: static;
}
.rectangle-8 {
  background: var(--black, #020202);
  width: 100%;
  height: 35.0000vw;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 121.2500vw;
}
.k-and-star-1 {
  opacity: 0.39;
  width: 90.6380vw;
  height: 33.3630vw;
  position: absolute;
  left: calc(50% - 48.0240vw);
  top: 122.8203vw;
  object-fit: cover;
  aspect-ratio: 1740.25/640.57;
}
.thanks-for-visit-my-site {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h1-font-family, "JetBrainsMono-Bold", sans-serif);
  font-size: var(--h1-font-size, 2.5000vw);
  font-weight: var(--h1-font-weight, 700);
  position: absolute;
  left: calc(50% - 37.5521vw);
  top: 132.5000vw;
  width: 64.0625vw;
  height: 5.0000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-the-end {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - 40.0521vw);
  top: 125.0000vw;
  width: 20.0000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main {
  position: absolute;
  inset: 0;
}
.projects {
  width: 100.0000vw;
  height: 40.0000vw;
  position: static;
}
.back-tiny2 {
  background: var(--white, #d2d2d2);
  width: 100%;
  height: 40.0000vw;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 81.2500vw;
}
.h-2 {
  color: var(--black, #020202);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - 38.7500vw);
  top: 83.7500vw;
  width: 21.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vape-calculator {
  width: 22.5000vw;
  height: 30.0000vw;
  position: static;
}
.rectangle-18 {
  background: var(--on-black, #272727);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 30.0000vw;
  position: absolute;
  left: calc(50% - 37.5000vw);
  top: 88.7500vw;
}
.vape-calculator2 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - 30.0000vw);
  top: 91.2500vw;
  width: 13.7500vw;
  height: 3.7500vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-1 {
  border-radius: 0.8333vw;
  width: 3.7500vw;
  height: 3.7500vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 91.2500vw;
  object-fit: cover;
  aspect-ratio: 1;
}
.flutter {
  width: 8.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-9 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 8.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 105.0000vw;
}
.flutter2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 33.1250vw);
  top: 105.0000vw;
  width: 6.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flutter3 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 34.3750vw);
  top: 105.6250vw;
  overflow: visible;
  aspect-ratio: 1;
}
.dart {
  width: 7.5000vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-92 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 7.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 25.0000vw);
  top: 105.0000vw;
}
.dart2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 23.1250vw);
  top: 105.0000vw;
  width: 5.1042vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dart3 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 24.4271vw);
  top: 105.6250vw;
  overflow: visible;
  aspect-ratio: 1;
}
.android {
  width: 8.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-93 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 8.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 30.6250vw);
  top: 108.7500vw;
}
.android2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 28.7500vw);
  top: 108.7500vw;
  width: 6.1458vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.android-24-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-24-1 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 30.0000vw);
  top: 109.3750vw;
  overflow: visible;
  aspect-ratio: 1;
}
.button-open-in-github {
  width: 17.5000vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-21 {
  background: var(--green, #1ab717);
  border-radius: 0.4167vw;
  width: 17.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 113.7500vw;
}
.open-in-github {
  color: var(--black, #020202);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 113.7500vw;
  width: 17.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flutter-based-fluid-calculation-app-with-material-you-3 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 97.5000vw;
  width: 17.5000vw;
  height: 5.0000vw;
}
.simple-car-sandbox {
  width: 22.5000vw;
  height: 30.0000vw;
  position: static;
}
.rectangle-182 {
  background: var(--on-black, #272727);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 30.0000vw;
  position: absolute;
  left: calc(50% - 10.0000vw);
  top: 88.7500vw;
}
.flash-825476-1 {
  border-radius: 0.8333vw;
  width: 3.7500vw;
  height: 3.7500vw;
  position: absolute;
  left: calc(50% - 7.5000vw);
  top: 91.2500vw;
  object-fit: cover;
}
.simple-car-sandbox2 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - 2.4479vw);
  top: 91.2500vw;
  width: 12.3958vw;
  height: 3.7500vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-212 {
  background: var(--green, #1ab717);
  border-radius: 0.4167vw;
  width: 17.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 7.5000vw);
  top: 113.7500vw;
}
.open-in-new-grounds {
  color: var(--black, #020202);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 7.5000vw);
  top: 113.7500vw;
  width: 17.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.web {
  width: 8.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-94 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 8.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 3.1771vw);
  top: 108.7500vw;
}
.web2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 1.3021vw);
  top: 108.7500vw;
  width: 6.1458vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-50-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-48-1 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 2.5521vw);
  top: 109.3750vw;
  overflow: visible;
}
.unity {
  width: 8.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-95 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 8.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 7.5000vw);
  top: 105.0000vw;
}
.unity2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 5.4568vw);
  top: 105.0000vw;
  width: 6.0776vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unity3 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 6.8750vw);
  top: 105.6250vw;
  overflow: visible;
}
.c {
  width: 7.5000vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-96 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 7.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -2.5000vw);
  top: 105.0000vw;
}
.c2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -4.3750vw);
  top: 105.0000vw;
  width: 5.0000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector {
  width: 1.1458vw;
  height: 1.2552vw;
  position: absolute;
  left: calc(50% - -3.2292vw);
  top: 105.6224vw;
  overflow: visible;
  aspect-ratio: 22/24.1;
}
.a-sandbox-car-simulator-written-in-unity-and-c-for-web-browsers {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 7.5000vw);
  top: 97.5000vw;
  width: 17.5000vw;
  height: 5.0000vw;
}
.portfolio {
  width: 22.5000vw;
  height: 30.0000vw;
  position: static;
}
.rectangle-183 {
  background: var(--on-black, #272727);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 30.0000vw;
  position: absolute;
  left: calc(50% - -17.5000vw);
  top: 88.7500vw;
}
.flash-825476-12 {
  border-radius: 0.8333vw;
  width: 3.7500vw;
  height: 3.7500vw;
  position: absolute;
  left: calc(50% - -20.0000vw);
  top: 91.2500vw;
  object-fit: cover;
}
.portfloio {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - -25.0521vw);
  top: 91.2500vw;
  width: 12.3958vw;
  height: 3.7500vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-213 {
  background: var(--allback, #151515);
  border-radius: 0.4167vw;
  width: 17.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -19.9479vw);
  top: 113.7500vw;
}
.you-here {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -19.9479vw);
  top: 113.7500vw;
  width: 17.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-web-portfolio {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -20.0000vw);
  top: 97.5000vw;
  width: 17.5000vw;
  height: 5.0000vw;
}
.web3 {
  width: 5.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-97 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 5.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -31.8750vw);
  top: 108.7500vw;
}
.web4 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -33.7500vw);
  top: 108.7500vw;
  width: 3.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-50-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-48-12 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 109.3750vw;
  overflow: visible;
}
.css {
  width: 7.5000vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-98 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 7.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -30.0000vw);
  top: 105.0000vw;
}
.css2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -31.8750vw);
  top: 105.0000vw;
  width: 5.0000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-css-3 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -30.6250vw);
  top: 105.6250vw;
  overflow: visible;
}
.html {
  width: 8.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-99 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 8.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -20.0000vw);
  top: 105.0000vw;
}
.html2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -21.8750vw);
  top: 105.0000vw;
  width: 5.6250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-html-5 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -20.6250vw);
  top: 105.6250vw;
  overflow: visible;
}
.js {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-910 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -20.0000vw);
  top: 108.7500vw;
}
.java-script {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -22.4479vw);
  top: 108.7500vw;
  width: 7.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-javascript {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -20.6250vw);
  top: 109.3750vw;
  overflow: visible;
}
.about-me {
  width: 100.0000vw;
  height: 57.5000vw;
  position: static;
}
.back-tiny3 {
  background: var(--black, #020202);
  width: 100%;
  height: 57.5000vw;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 23.7500vw;
}
.stack {
  width: 78.7500vw;
  height: 22.5000vw;
  position: static;
}
.stack2 {
  width: 51.2500vw;
  height: 17.5000vw;
  position: static;
}
.h-22 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - 11.2500vw);
  top: 53.7500vw;
  width: 16.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stack3 {
  width: 50.0000vw;
  height: 12.5000vw;
  position: static;
}
.git {
  width: 7.5000vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-911 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 7.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 68.7500vw;
}
.git2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -34.3750vw);
  top: 68.7500vw;
  width: 5.0000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.git3 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -33.1250vw);
  top: 69.3750vw;
  overflow: visible;
}
.unity4 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-912 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -19.3750vw);
  top: 68.7500vw;
}
.unity5 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -21.2500vw);
  top: 68.7500vw;
  width: 8.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unity6 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -20.0000vw);
  top: 69.3750vw;
  overflow: visible;
}
.flutter4 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-913 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -6.2500vw);
  top: 68.7500vw;
}
.flutter5 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -8.1250vw);
  top: 68.7500vw;
  width: 8.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flutter6 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -6.8750vw);
  top: 69.3750vw;
  overflow: visible;
  aspect-ratio: 1;
}
.android-studio {
  width: 13.7500vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-914 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 13.7500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 10.0000vw);
  top: 68.7500vw;
}
.android-studio2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 8.0729vw);
  top: 68.7500vw;
  width: 11.1979vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.android-24-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-24-12 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 9.2708vw);
  top: 69.3750vw;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-915 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -16.2500vw);
  top: 63.7500vw;
}
.java-script2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -18.7281vw);
  top: 63.7500vw;
  width: 7.5078vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-javascript2 {
  width: 1.2516vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -16.8510vw);
  top: 64.3750vw;
  overflow: visible;
}
.css3 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-916 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -3.1250vw);
  top: 63.7500vw;
}
.css4 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -5.5729vw);
  top: 63.7500vw;
  width: 7.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-css-32 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -3.7500vw);
  top: 64.3750vw;
  overflow: visible;
}
.html3 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-917 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 10.0000vw);
  top: 63.7500vw;
}
.html4 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 8.1250vw);
  top: 63.7500vw;
  width: 8.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-html-52 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 9.3750vw);
  top: 64.3750vw;
  overflow: visible;
}
.marck-down {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-918 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -29.3750vw);
  top: 63.7500vw;
}
.mark-down {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -31.8750vw);
  top: 63.7500vw;
  width: 7.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-markdown {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -30.0000vw);
  top: 64.3750vw;
  overflow: visible;
}
.c3 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-919 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -29.3750vw);
  top: 58.7500vw;
}
.c4 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -31.8229vw);
  top: 58.7500vw;
  width: 7.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector2 {
  width: 1.1458vw;
  height: 1.2552vw;
  position: absolute;
  left: calc(50% - -30.1042vw);
  top: 59.3724vw;
  overflow: visible;
  aspect-ratio: 22/24.1;
}
.python {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-920 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -16.2500vw);
  top: 58.7500vw;
}
.python2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -18.6979vw);
  top: 58.7500vw;
  width: 7.5000vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-python {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -16.8750vw);
  top: 59.3750vw;
  overflow: visible;
}
.dart4 {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-921 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -3.1250vw);
  top: 58.7500vw;
}
.dart5 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -5.0000vw);
  top: 58.7500vw;
  width: 8.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dart6 {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - -3.6979vw);
  top: 59.3750vw;
  overflow: hidden;
  aspect-ratio: 1;
}
.dart-icon {
  width: 0.9948vw;
  height: 0.9896vw;
  position: absolute;
  left: 0.0990vw;
  top: 0.1302vw;
  overflow: visible;
}
.kotlin {
  width: 10.6250vw;
  height: 2.5000vw;
  position: static;
}
.rectangle-922 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 10.6250vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 10.0000vw);
  top: 58.7500vw;
}
.kotlin2 {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 8.1250vw);
  top: 58.7500vw;
  width: 8.1250vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-kotlin {
  width: 1.2500vw;
  height: 1.2500vw;
  position: absolute;
  left: calc(50% - 9.3750vw);
  top: 59.3750vw;
  overflow: visible;
}
.skils {
  width: 23.7500vw;
  height: 22.5000vw;
  position: static;
}
.mastadonts {
  width: 22.5000vw;
  height: 17.5521vw;
  position: static;
}
.web5 {
  width: 22.5000vw;
  height: 5.0000vw;
  position: static;
}
.rectangle-923 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 22.5000vw;
  height: 5.0000vw;
  position: absolute;
  left: calc(50% - 37.5000vw);
  top: 71.2500vw;
}
.web-developer {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2500vw;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 72.5000vw;
  width: 13.7500vw;
  height: 2.4479vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-50-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-48-13 {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 72.5000vw;
  overflow: visible;
}
.unity7 {
  width: 22.5000vw;
  height: 5.0000vw;
  position: static;
}
.rectangle-924 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 22.5000vw;
  height: 5.0000vw;
  position: absolute;
  left: calc(50% - 37.5000vw);
  top: 65.0000vw;
}
.unity-developer {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2500vw;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 66.2500vw;
  width: 13.7500vw;
  height: 2.4479vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-8-unity-1 {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 66.2500vw;
  overflow: hidden;
}
.android3 {
  width: 22.5000vw;
  height: 5.0521vw;
  position: static;
}
.rectangle-925 {
  border-radius: 0.7812vw;
  border-style: solid;
  border-color: var(--white, #d2d2d2);
  border-width: 1px;
  width: 22.5000vw;
  height: 5.0521vw;
  position: absolute;
  left: calc(50% - 37.5000vw);
  top: 58.6979vw;
}
.android-developer {
  color: var(--white, #d2d2d2);
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2500vw;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 31.2500vw);
  top: 60.0000vw;
  width: 13.7500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.android-24-dp-e-3-e-3-e-3-fill-0-wght-400-grad-0-opsz-24-13 {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - 35.0000vw);
  top: 60.0000vw;
  overflow: visible;
}
.h-23 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - 38.7500vw);
  top: 53.7500vw;
  width: 16.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contacts {
  width: 23.7500vw;
  height: 25.0000vw;
  position: static;
}
.github {
  width: 22.5000vw;
  height: 5.0000vw;
  position: static;
}
.back-g {
  background: var(--all-page-background, #151515);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 5.0000vw;
  position: absolute;
  left: calc(50% - -17.5000vw);
  top: 31.2500vw;
}
.github2 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - -22.5000vw);
  top: 32.5000vw;
  width: 8.7500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  width: 6.2500vw;
  height: 2.5000vw;
  position: static;
}
.b-back {
  background: var(--green, #1ab717);
  border-radius: 0.4167vw;
  width: 6.2500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 32.5000vw;
}
.open {
  color: var(--black, #020202);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 32.5000vw;
  width: 6.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.git-hub {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -18.7500vw);
  top: 32.5000vw;
  overflow: visible;
  aspect-ratio: 1;
}
.telegram {
  width: 22.5000vw;
  height: 5.0000vw;
  position: static;
}
.back {
  background: var(--all-page-background, #151515);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 5.0000vw;
  position: absolute;
  left: calc(50% - -17.5000vw);
  top: 38.7500vw;
}
.telegram2 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - -22.5000vw);
  top: 40.0000vw;
  width: 8.7500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.b-back2 {
  background: var(--green, #1ab717);
  border-radius: 0.4167vw;
  width: 6.2500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 40.0000vw;
}
.open2 {
  color: var(--black, #020202);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 40.0000vw;
  width: 6.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.telegram-app {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -18.7500vw);
  top: 40.0000vw;
  overflow: visible;
  aspect-ratio: 1;
}
.discord {
  width: 22.5000vw;
  height: 5.0000vw;
  position: static;
}
.back2 {
  background: var(--all-page-background, #151515);
  border-radius: 0.8333vw;
  width: 22.5000vw;
  height: 5.0000vw;
  position: absolute;
  left: calc(50% - -17.5000vw);
  top: 46.2500vw;
}
.discord2 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h4-font-family, "JetBrainsMono-Medium", sans-serif);
  font-size: var(--h4-font-size, 1.6667vw);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: calc(50% - -22.5000vw);
  top: 47.5000vw;
  width: 8.7500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-1 {
  width: 6.2500vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -32.5000vw);
  top: 47.5000vw;
}
.name {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.b-back3 {
  background: var(--on-black, #272727);
  border-radius: 0.4167vw;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.korg-1-ch {
  color: var(--green, #1ab717);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  position: absolute;
  inset: 0;
}
.b-back4 {
  background: var(--green, #1ab717);
  border-radius: 0.4167vw;
  width: 6.2500vw;
  height: 2.5000vw;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0vw;
}
.open3 {
  color: var(--black, #020202);
  text-align: center;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0vw;
  width: 6.2500vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discord3 {
  width: 2.5000vw;
  height: 2.5000vw;
  position: absolute;
  left: calc(50% - -18.7500vw);
  top: 47.5000vw;
  overflow: visible;
  aspect-ratio: 1;
}
.h-24 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - -16.2500vw);
  top: 26.2500vw;
  width: 13.8021vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: calc(50% - 37.4479vw);
  top: 31.2500vw;
  width: 49.9479vw;
  height: 20.0000vw;
}
.h-25 {
  color: var(--white, #d2d2d2);
  text-align: left;
  font-family: var(--h2-font-family, "JetBrainsMono-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 2.0833vw);
  font-weight: var(--h2-font-weight, 600);
  position: absolute;
  left: calc(50% - 38.7036vw);
  top: 26.2500vw;
  width: 16.2417vw;
  height: 2.5000vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.console {
  width: 80.0000vw;
  height: 3.7500vw;
  position: static;
}
.back3 {
  background: var(--black, #020202);
  border-radius: 0.8333vw;
  width: 80.0000vw;
  height: 3.7500vw;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 16.2500vw;
  box-shadow: 0vw 0.2083vw 0.2083vw 0vw rgba(0, 0, 0, 0.25);
}
.text2 {
  color: var(--green, #1ab717);
  text-align: left;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: var(--p-font-size, 1.2500vw);
  line-height: var(--p-line-height, 120%);
  font-weight: var(--p-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 16.2500vw;
  width: 77.5000vw;
  height: 3.7500vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  position: absolute;
  inset: 0;
}
.logo {
  width: 20.0380vw;
  height: 6.0417vw;
  position: absolute;
  left: calc(50% - 39.9479vw);
  top: 6.4583vw;
  object-fit: cover;
  aspect-ratio: 384.73/116;
}
#cursor {
  animation: blink 1s step-end infinite;
  font-weight: bold; 
}

/* Добавление эффектов при наведении на кнопки */
.rectangle-21:hover, 
.rectangle-212:hover, 
.b-back:hover, 
.b-back2:hover, 
.b-back4:hover {
  background: #37ff00; /* Темнее зеленый при наведении */
  transform: translateY(-0.1042vw);
  box-shadow: 0 0.2083vw 0.4167vw rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Hover эффект для кнопки с белым фоном */
.rectangle-213:hover {
  background: #272727; /* Чуть темнее при наведении */
  transform: translateY(-0.1042vw);
  box-shadow: 0 0.2083vw 0.4167vw rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Hover эффект для discord кнопки */
.b-back3:hover {
  background: #373737; /* Чуть светлее при наведении */
  transition: all 0.3s ease;
}

/* Добавляем базовые transition свойства для всех кнопок */
.rectangle-21, 
.rectangle-212, 
.rectangle-213, 
.b-back, 
.b-back2, 
.b-back3, 
.b-back4 {
  transition: all 0.3s ease;
}

@keyframes blink {
  50% {
    opacity: 0; 
  }
}

/* Исправленные стили для hover эффектов */
/* Добавление указателя курсора для всех кнопок */
.rectangle-21, 
.rectangle-212, 
.rectangle-213, 
.b-back, 
.b-back2, 
.b-back3, 
.b-back4,
a:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Стили для кнопок при наведении */
.rectangle-21:hover, 
.rectangle-212:hover, 
.b-back:hover, 
.b-back2:hover, 
.b-back4:hover,
a:hover .rectangle-21,
a:hover .rectangle-212,
a:hover .b-back,
a:hover .b-back2,
a:hover .b-back4 {
  background: #15a312;
  box-shadow: 0 0.2083vw 0.4167vw rgba(0, 0, 0, 0.2);
}

/* Специальный стиль для кнопки Discord */
.buttonD:hover .b-back4,
.buttonD:hover {
  cursor: pointer;
  background: #15a312;
  box-shadow: 0 0.2083vw 0.4167vw rgba(0, 0, 0, 0.2);
}

/* Hover эффект для "You Here" кнопки */
.rectangle-213:hover {
  background: #272727;
  transform: translateY(-0.1042vw);
  box-shadow: 0 0.2083vw 0.4167vw rgba(0, 0, 0, 0.2);
}

/* Hover эффект для Discord ID кнопки */
.b-back3:hover {
  background: #373737;
  cursor: pointer;
}

/* Стили для текста внутри кнопок при наведении */
a:hover .open-in-github,
a:hover .open-in-new-grounds,
a:hover .open,
a:hover .open2,
.buttonD:hover .open3 {
}

/* Стили для всплывающей подсказки при наведении на Discord кнопку */
.discord-tooltip {
  position: absolute;
  background-color: #272727;
  color: #d2d2d2;
  padding: 0.4167vw 0.6250vw;
  border-radius: 0.3125vw;
  font-family: var(--p-font-family, "JetBrainsMono-Regular", sans-serif);
  font-size: 0.8333vw;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.1250vw;
  box-shadow: 0 0.1042vw 0.2604vw rgba(0, 0, 0, 0.2);
}

/* Треугольник внизу подсказки */
.discord-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4167vw;
  border-width: 0.4167vw;
  border-style: solid;
  border-color: #272727 transparent transparent transparent;
}

/* Показываем подсказку при наведении */
.buttonD:hover .discord-tooltip {
  opacity: 1;
  visibility: visible;
}

/* Добавим стиль для подсветки успешного копирования */
.copy-success {
  background-color: #1ab717 !important;
  color: #fff;
}
.vector13 {
  width: 1.1458vw;
  height: 1.2552vw;
  position: absolute;
  left: calc(50% - -30.1042vw);
  top: 59.3724vw;
  overflow: visible;
  aspect-ratio: 22/24.1;
}

.vector2 {
  width: 50.04%;
  height: 28.14%;
  position: absolute;
  right: 29.63%;
  left: 20.33%;
  bottom: 53.12%;
  top: 18.74%;
  overflow: visible;
}
.vector3 {
  width: 50.06%;
  height: 27.98%;
  position: absolute;
  right: 29.54%;
  left: 20.4%;
  bottom: 18.89%;
  top: 53.13%;
  overflow: visible;
}
.vector4 {
  width: 24.68%;
  height: 56.05%;
  position: absolute;
  right: 16.05%;
  left: 59.26%;
  bottom: 22.01%;
  top: 21.93%;
  overflow: visible;
}
.vector5 {
  opacity: 0.07;
  width: 45.34%;
  height: 25.48%;
  position: absolute;
  right: 31.8%;
  left: 22.86%;
  bottom: 54.16%;
  top: 20.36%;
  overflow: visible;
}
.vector6 {
  opacity: 0.05;
  width: 45.34%;
  height: 25.48%;
  position: absolute;
  right: 31.8%;
  left: 22.86%;
  bottom: 54.16%;
  top: 20.36%;
  overflow: visible;
}
.vector7 {
  opacity: 0.07;
  width: 45.34%;
  height: 25.48%;
  position: absolute;
  right: 31.8%;
  left: 22.86%;
  bottom: 54.16%;
  top: 20.36%;
  overflow: visible;
}
.vector8 {
  opacity: 0.07;
  width: 22.39%;
  height: 50.84%;
  position: absolute;
  right: 17.14%;
  left: 60.48%;
  bottom: 24.61%;
  top: 24.54%;
  overflow: visible;
}
.vector9 {
  opacity: 0.07;
  width: 45.34%;
  height: 25.32%;
  position: absolute;
  right: 31.72%;
  left: 22.94%;
  bottom: 20.51%;
  top: 54.17%;
  overflow: visible;
}
.vector10 {
  opacity: 0.05;
  width: 22.39%;
  height: 50.84%;
  position: absolute;
  right: 17.14%;
  left: 60.48%;
  bottom: 24.61%;
  top: 24.54%;
  overflow: visible;
}
.vector11 {
  opacity: 0.07;
  width: 22.39%;
  height: 50.84%;
  position: absolute;
  right: 17.14%;
  left: 60.48%;
  bottom: 24.61%;
  top: 24.54%;
  overflow: visible;
}
.group {
  width: 45.34%;
  height: 25.32%;
  position: absolute;
  right: 31.72%;
  left: 22.94%;
  bottom: 20.51%;
  top: 54.17%;
  overflow: visible;
}
.vector12 {
  width: 83.16%;
  height: 83.33%;
  position: absolute;
  right: 10.42%;
  left: 6.42%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}